<h1>Search page</h1>

<% @posts.each do |post| %>
  <% if post.class == String %>
    <p><%= post %></p> <!-- This returns if there are no search results found -->
  <% else %>
    <h3><%= link_to post.title, post_path(post) %></h3>
    <p><%= post.user.username %></p>
    <p><%= post.summary %></p>
  <% end %>
<% end %>
